@model LibraryDomain.Model.Genre

@{
    ViewData["Title"] = "Детальніше";
}

<h1>Детальніше про жанр</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GenreId">Змінити</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
